<h1>All Tasks</h1>

<ul>
  <% @sorted_tasks.each do |t| %>
    <li class="well">
      <h4>
        <%= t.description %>
        <small class="pull-right">
          Winner <%= Comparison.where(choice_id: t.id).count %> times
        </small>

      </h4>
    </li>
  <% end %>
</ul>

<% unless Comparison.next_pending_comparison.nil? %>
  <a href="/comparisons/new" class="btn btn-primary">Prioritize</a>
<% else %>
  <a href="/comparisons/reprioritize" class="btn btn-danger">Reprioritize</a>
<% end %>
