<h1>All Tasks</h1>

<ul>
  <% Task.all.each do |t| %>
    <li>
      <%= t.description %>
      <span>
        Winner <%= Comparison.where(choice_id: t.id).count %> times
      </span>
    </li>
  <% end %>
</ul>

<% unless Comparison.next_pending_comparison.nil? %>
  <a href="/comparisons/new" class="btn btn-primary">Prioritize</a>
<% else %>
  <a href="/comparisons/reprioritize" class="btn btn-danger">Reprioritize</a>
<% end %>
