<h1>All Tasks</h1>

<ul>
  <% counter = 0 %>
  <% @sorted_tasks.each do |t| %>
    <li class="well
              <% if t.rank == @highest_rank%>alert-danger<% end %>
              <% if counter == 0 and @highest_rank != 0 %>highest-rank<% end %>
              ">
      <h4>
        <%= t.description %>
        <small class="pull-right">
          Winner <%= Comparison.where(choice_id: t.id).count %> times
        </small>
      </h4>
    </li>
    <% if counter == 0 and @highest_rank != 0 %>
      <hr>
      <% counter += 1 %>
    <% end %>

    <% end %>
</ul>

<% unless Comparison.next_pending_comparison.nil? %>
  <a href="/comparisons/new" class="btn btn-primary">Prioritize</a>
<% else %>
  <a href="/comparisons/reprioritize" class="btn btn-danger">Reprioritize</a>
<% end %>
