<div class="well">
  <h1><%= t('homepage.headline') %></h1>
  <h2><%= t('homepage.subheadline') %></h2>
</div>

<h3>Enter your tasks below, one task per line. When you are done, click on the button.</h3>

<%= form_tag '/tasks/create' do %>
  <textarea id="tasks" name="tasks"></textarea>
  <br/>
  <input type="submit" value="<%= t('tasks.create_tasks') %>" class="btn btn-lg btn-primary"/>
<% end %>
