@import "bootstrap-sprockets";
@import "bootstrap";

body {
  font-size: 2em;
}
.logo {
  color: #777;
  font-weight: bold;
  padding: 20px;
  border-bottom: 1px dashed #ccc;
  margin-bottom: 20px;
  background-color: rgb(244, 243, 239);
}

.logo a, .logo a:hover {
  color: #777;
  text-decoration: none;
}

#new_comparison {
  border: 1px solid #ccc;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 5px 5px 5px #ccc;
  padding: 1.2em;
  min-height: 200px;
}

ul {
  margin: 0px;
  padding: 0px;
}
ul, li {
  list-style: none;
}

img {
  width: 100%;
}

/* HOME */

.banner {
  background-color: rgb(244, 243, 239);
}

/* TASKS */
::-webkit-input-placeholder {
    color: #ececec;
}

textarea#tasks, textarea#tasks:focus {
  outline: none;
  width: 100%;
  height: 400px;
  font-size: 2.4em;
  border: none;

  padding: 10px;
}

.well.highest-rank {
  border-color: red !important;
  background-color: red !important;
}

.well.alert-danger {
  border-color: #a94400;
  background-color: #a94442;
}

.well.alert-danger h4, .well.alert-danger small {
  color: white;
}
